---
interface Props {
    title: string;
    class?: string;
    icon?: string;
    rest?: any;
}

const { title, class: className, icon, ...rest } = Astro.props as Props;
---

<div class:list={["relative flex flex-col gap-6 rounded-3xl p-8 overflow-hidden", className]} {...rest}>
    <!-- Decorative corner glow -->
    <div
        class="absolute -top-12 -left-12 w-48 h-48 bg-theme-color-primary/5 blur-3xl rounded-full"
    >
    </div>
    
    <div class="flex items-center gap-3 relative z-10">
        {
            icon && (
                <Fragment set:html={icon} />
            )
        }
        <h3 class="text-xl font-medium lowercase text-theme-fg-primary">
            {title}
        </h3>
    </div>
    <div class="flex flex-col gap-6 relative z-10">
        <slot />
    </div>
</div>
