---
import { getImage } from "astro:assets";
import noiseImage from "@assets/images/noise-256x.webp";
const noiseImageSrc = await getImage({ src: noiseImage });
---

<div class="noise-overlay" style={{ backgroundImage: `url(${noiseImageSrc.src})` }}></div>

<style>
    .noise-overlay {
        position: fixed;
        inset: 0;
        z-index: 999;
        opacity: 0.2;
        mix-blend-mode: soft-light;
        background-size: 96px 96px;
        background-repeat: repeat;
        pointer-events: none;
    }
</style>
