---
import type { Tag } from "@lib/payload/payload-types";

interface Props {
    tag: Tag;
    showCount?: boolean;
    showActive?: boolean;
    size?: "small" | "regular";
    class?: string;
}

const { tag, class: className, showCount, showActive = false, size = "regular" } = Astro.props as Props;

let isActive = showActive && Astro.url.pathname.startsWith(`/blog/tags/${tag.slug}`);

const baseClasses = [
    "group",
    "inline-block",
    "rounded-full",
    "bg-theme-bg-secondary",
    "hover:bg-theme-color-primary",
    "hover:text-theme-bg-primary",
    "text-theme-fg-secondary",
    "font-mono",
    "transition-all",
    "duration-200",
    "lowercase",
    "whitespace-nowrap",
    "hover:scale-105",
    "active:scale-95",
];

const sizeClasses = {
    small: "text-xs px-2.5 py-0.5",
    regular: "text-sm px-3 py-1",
};

const activeClasses = ["ring-2", "ring-theme-color-primary", "bg-theme-color-primary/10", "!text-theme-color-primary"];
---

<a
    href={`/blog/tags/${tag.slug}/1/`}
    class:list={[...baseClasses, sizeClasses[size], ...(isActive ? activeClasses : []), className]}
    data-astro-prefetch
>
    <span class="opacity-50 group-hover:opacity-100 transition-opacity">#</span>{tag.text}
    {
        showCount && (
            <span class="ml-1 opacity-50 group-hover:opacity-100 transition-opacity font-bold">
                {tag.postCount}
            </span>
        )
    }
</a>
