---
// components
import Tag from "@components/blog/tags/Tag.astro";

// utils
import { getAllTags } from "@lib/payload/utils";

const tags = await getAllTags();

interface Props {
    showCount?: boolean;
    size?: "small" | "regular";
    rest?: any;
}

const { showCount = false, size = "regular", ...rest } = Astro.props as Props;
---

<div class="flex flex-wrap gap-2" {...rest}>
    {tags.docs.map((tag) => <Tag {tag} {showCount} {size} showActive />)}
</div>
