---
// layout
import BlogLayout from "@layouts/BlogLayout.astro";

// components
import PostOverview from "@components/blog/PostOverview.astro";
import Pagination from "@components/core/pagination/Pagination.astro";

// utils
import { getAllPosts } from "@lib/payload/utils";
import type { PaginatedResponse } from "@lib/types";
import type { Post } from "@lib/payload/payload-types";

export async function getStaticPaths() {
    const postPages = await getAllPosts();

    return postPages.map((page) => ({
        params: { page: page.page },
        props: { page },
    }));
}

const { page } = Astro.props as { page: PaginatedResponse<Post> };
---

<BlogLayout
    title="blog posts"
    description="Various blog posts about web development, 3D printing, gaming, and more."
>
    <section class="flex flex-col gap-8">
        <div class="flex w-full items-start gap-10 flex-col">
            <h1 class="h2">
                all blog <span class="text-theme-color-primary">posts</span>
            </h1>
            <p class="description mt-6">
                Every blog post I've written ever, sorted by most recent.
                <br />
                Select a post tag to filter posts by a specific topic.
            </p>
        </div>
        <div
            class="flex flex-col gap-12 mt-16 border-l-0 lg:border-l-2 border-theme-bg-tertiary pl-0 lg:pl-4"
        >
            {page.docs.map((post) => <PostOverview post={post} data-onview="fade-in" />)}
        </div>
    </section>
    <Pagination page={page} baseUrl="/blog" class="mt-8" slot="pagination" />
</BlogLayout>
