---
import SiteConfig from "@/site.config";
import { Image } from "astro:assets";
import { getHeroContent, getImageSrc } from "@/lib/payload/utils";

// components
import SocialLinks from "@components/social/SocialLinks.astro";
import RichTextContentRenderer from "@/components/core/RichTextContentRenderer.astro";

// data
const hero = await getHeroContent();
---

<section
    id="hero"
    class="relative w-full pb-6 flex flex-col-reverse md:flex-row items-center gap-12"
>
    <div class="flex items-start flex-col gap-4 md:gap-12 description text-balance text-base">
        <RichTextContentRenderer node={hero.content.root} />
        <SocialLinks data-onview="fade-up" data-onview-delay="0.7" />
    </div>
    {
        SiteConfig.authorPhoto?.url ? (
            <Image
                class="aspect-square rounded-2xl shadow-md size-[240px]"
                width={512}
                height={512}
                src={getImageSrc(SiteConfig.authorPhoto.url)}
                alt={`$${SiteConfig.authorName} profile picture`}
                data-onview="fade-zoom"
                data-onview-delay="0.5"
            />
        ) : null
    }
</section>
