---
import SiteConfig from "@/site.config";
import { Image } from "astro:assets";
import { getHeroContent, getImageSrc } from "@/lib/payload/utils";

// components
import SocialLinks from "@components/social/SocialLinks.astro";
import RichTextContentRenderer from "@/components/core/RichTextContentRenderer.astro";

// data
const hero = await getHeroContent();
---

<section
    id="hero"
    class="relative w-full pb-8 flex flex-col-reverse md:flex-row items-center gap-12"
>
    <div
        class="flex items-start flex-col gap-6 md:gap-12 description text-balance text-base"
        data-cascade="fadeIn"
        data-cascade-delay="0.2"
    >
        <RichTextContentRenderer
            node={hero.content.root}
            data-cascade="fadeIn"
            data-cascade-delay="0.2"
        />
        <SocialLinks data-cascade="fadeInUp" data-cascade-delay="0.5" />
    </div>
    {
        SiteConfig.authorPhoto?.url ? (
            <div class="img-tint rounded-3xl shrink-0 shadow-md">
                <Image
                    class="aspect-square size-[240px]"
                    width={512}
                    height={512}
                    src={getImageSrc(SiteConfig.authorPhoto.url)}
                    alt={`$${SiteConfig.authorName} profile picture`}
                />
            </div>
        ) : null
    }
</section>
