---

---

<style>
    @reference "@/styles/main.css";

    #open-mobile-nav-button,
    #close-mobile-nav-button {
        @apply text-theme-fg-primary w-8 h-8 cursor-pointer;
    }

    #open-mobile-nav-button {
        @apply group-data-[nav-state="closed"]:block group-data-[nav-state="mobile-open"]:hidden;
    }

    #close-mobile-nav-button {
        @apply group-data-[nav-state="closed"]:hidden group-data-[nav-state="mobile-open"]:block;
    }
</style>

<button id="open-mobile-nav-button" type="button">
    <span class="sr-only">Open navigation menu</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
        <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd"></path>
    </svg>
</button>
<button id="close-mobile-nav-button" type="button">
    <span class="sr-only">Close navigation menu</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
        <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"></path>
    </svg>
</button>

<script is:inline>
    function initMobileNav() {
        const nav = document.getElementById("nav");

        const openMobileNavButton = document.getElementById("open-mobile-nav-button");
        const closeMobileNavButton = document.getElementById("close-mobile-nav-button");

        if (openMobileNavButton && closeMobileNavButton) {
            openMobileNavButton.addEventListener("click", () =>
                nav.setAttribute("data-nav-state", "mobile-open"),
            );
            closeMobileNavButton.addEventListener("click", () =>
                nav.setAttribute("data-nav-state", "closed"),
            );
        }
    }

    // runs on initial page load
    initMobileNav();

    // runs on view transitions navigation
    document.addEventListener("astro:after-swap", initMobileNav);
</script>
