@reference "./main.css";

#blog-post-content p > code,
#blog-post-content li > code {
    @apply text-theme-fg-tertiary bg-theme-bg-tertiary px-1.5 py-0.5 rounded text-[0.9em] inline;
}

#blog-post-content ol {
    @apply list-decimal ml-8 flex-col gap-2;
}

#blog-post-content ul {
    @apply list-disc ml-8 flex-col gap-2;
}

#blog-post-content li::marker {
    @apply text-theme-fg-tertiary;
}

#blog-post-content mark {
    @apply bg-theme-color-primary px-1.5 py-0.5 rounded text-[0.9em] inline-flex items-center align-middle leading-none mx-0.5;
}

#blog-post .toc-current {
    @apply text-theme-color-primary hover:text-theme-color-tertiary;
}

#blog-post-content h1:not(:first-child),
#blog-post-content h2:not(:first-child),
#blog-post-content h3:not(:first-child),
#blog-post-content h4:not(:first-child) {
    @apply mt-8;
}


#blog-post-content .code-block {
    @apply my-8;
}

#blog-post-content .code-block pre {
    @apply p-0 m-0 text-sm leading-relaxed;
}

#blog-post-content .shiki {
    @apply overflow-x-auto;
    display: grid;
}

@variant dark {
    #blog-post-content .shiki {
        background-color: var(--shiki-dark-bg) !important;
    }
    #blog-post-content .shiki span {
        color: var(--shiki-dark) !important;
    }
}

#blog-post-content .shiki code {
    counter-reset: step;
    counter-increment: step 0;
    @apply grid min-w-full w-fit py-4;
    background-color: inherit;
}

#blog-post-content .shiki span {
    background-color: transparent !important;
}

#blog-post-content .shiki code .line {
    @apply px-4 border-l-2 border-transparent bg-transparent;
}

#blog-post-content .shiki code .line::before {
    content: counter(step);
    counter-increment: step;
    @apply w-6 mr-4 text-right text-theme-fg-tertiary inline-block opacity-40 select-none;
}

#blog-post-content .shiki code .line.highlight {
    @apply bg-theme-color-primary/10 border-theme-color-primary;
}

#blog-post-content h1, #blog-post-content h2, #blog-post-content h3, #blog-post-content h4 {
    @apply font-cool;
}