/* custom fonts */
@font-face {
    font-family: "Bio Sans";
    src:
        url("/fonts/biosans-regular-webfont.woff2") format("woff2"),
        url("/fonts/biosans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bio Sans";
    src:
        url("/fonts/biosans-bold-webfont.woff2") format("woff2"),
        url("/fonts/biosans-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bio Sans";
    src:
        url("/fonts/biosans-italic-webfont.woff2") format("woff2"),
        url("/fonts/biosans-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Chinook";
    src:
        url("/fonts/chinook-regular-webfont.woff2") format("woff2"),
        url("/fonts/chinook-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chinook";
    src:
        url("/fonts/chinook-customitalic-webfont.woff2") format("woff2"),
        url("/fonts/chinook-customitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-VariableFont.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
