@import "tailwindcss";

@import "./animations.css";

/* base layer imports */
@import "./fonts.css" layer(base);

/* component layer imports */
@import "./buttons.css" layer(components);

/* tailwind V4 configuration */
@theme {
    /* green colors */
    --color-green-50: rgb(244, 253, 232);
    --color-green-100: rgb(208, 246, 167);
    --color-green-200: rgb(173, 242, 105);
    --color-green-300: rgb(150, 241, 59);
    --color-green-400: rgb(126, 241, 19);
    --color-green-500: rgb(109, 212, 12);
    --color-green-600: rgb(87, 169, 10);
    --color-green-700: rgb(69, 134, 9);
    --color-green-800: rgb(55, 108, 9);
    --color-green-900: rgb(37, 74, 7);
    --color-green-950: rgb(18, 37, 4);

    /* base colors */
    --color-base-50: rgb(250, 250, 250);
    --color-base-100: rgb(244, 244, 245);
    --color-base-200: rgb(228, 228, 231);
    --color-base-300: rgb(212, 212, 216);
    --color-base-400: rgb(161, 161, 170);
    --color-base-500: rgb(113, 113, 122);
    --color-base-600: rgb(82, 82, 91);
    --color-base-700: rgb(63, 63, 70);
    --color-base-800: rgb(39, 39, 42);
    --color-base-900: rgb(24, 24, 27);
    --color-base-950: rgb(9, 9, 11);

    /* theme colors - for theme utility classes */
    --color-theme-bg-primary: var(--color-bg-primary);
    --color-theme-bg-secondary: var(--color-bg-secondary);
    --color-theme-bg-tertiary: var(--color-bg-tertiary);
    --color-theme-fg-primary: var(--color-fg-primary);
    --color-theme-fg-secondary: var(--color-fg-secondary);
    --color-theme-fg-tertiary: var(--color-fg-tertiary);
    --color-theme-color-primary: var(--color-primary);
    --color-theme-color-secondary: var(--color-secondary);
    --color-theme-color-tertiary: var(--color-tertiary);

    /* font declarations */
    --font-sans: "Public Sans", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";

    --font-mono: "Monaspace Neon", "monospace";
    --font-cool: "Chinook", "sans-serif";

    /* breakpoints for responsiveness */
    --breakpoint-*: initial;
    --breakpoint-xs: 24rem;
    --breakpoint-sm: 32rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 72rem;
}

/* control dark mode with a data-theme attribute */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Utility classes */
@utility text-glow {
    text-shadow: 0 0 3px currentColor;
}

@utility text-glow-md {
    text-shadow: 0 0 5px currentColor;
}

@utility text-glow-lg {
    text-shadow: 0 0 8px currentColor;
}

@utility container {
    @apply mx-auto px-4 md:px-8 lg:px-16;
}

/* Core theme styles */
@layer base {
    :root[data-theme="light"] {
        --color-bg-primary: var(--color-base-100);
        --color-bg-secondary: var(--color-base-200);
        --color-bg-tertiary: var(--color-base-300);
        --color-fg-primary: var(--color-base-700);
        --color-fg-secondary: var(--color-base-500);
        --color-fg-tertiary: var(--color-base-600);
        --color-primary: var(--color-green-600);
        --color-secondary: var(--color-green-700);
        --color-tertiary: var(--color-green-500);
    }

    :root[data-theme="dark"] {
        --color-bg-primary: var(--color-base-900);
        --color-bg-secondary: var(--color-base-800);
        --color-bg-tertiary: var(--color-base-700);
        --color-fg-primary: var(--color-base-200);
        --color-fg-secondary: var(--color-base-400);
        --color-fg-tertiary: var(--color-base-300);
        --color-primary: var(--color-green-500);
        --color-secondary: var(--color-green-600);
        --color-tertiary: var(--color-green-400);
    }

    :root {
        @apply font-sans text-lg leading-[1.8rem];
        @apply text-theme-fg-primary bg-theme-bg-primary;
        scroll-behavior: smooth;
    }

    /* Prevent scrolling when the mobile nav is open */
    :root:has(#nav[data-nav-state="mobile-open"]) {
        overflow: hidden;
        touch-action: none;
        height: 100vh;
    }

    body * {
        @apply transition-colors transition-shadow duration-200;
    }
}

/* Component style declarations */
@layer components {
    h1 {
        @apply text-4xl font-medium sm:text-5xl text-balance;
    }

    h2 {
        @apply text-3xl font-medium sm:text-4xl text-balance;
    }

    h3 {
        @apply text-2xl font-medium sm:text-2xl text-balance;
    }

    h4 {
        @apply text-xl font-medium sm:text-lg text-balance;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply scroll-m-32;
    }

    .description {
        @apply text-theme-fg-secondary text-pretty;
    }

    :root[data-theme="dark"] .text-gradient {
        @apply bg-gradient-to-tr from-green-400 to-base-100 text-transparent bg-clip-text;
    }

    :root[data-theme="light"] .text-gradient {
        @apply bg-gradient-to-bl from-green-500 to-base-700 text-transparent bg-clip-text;
    }

    .social-links svg {
        fill: currentColor;
    }

    .underline-hover {
        @apply bg-gradient-to-r from-theme-color-primary to-theme-color-primary bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-[background-size] duration-300 hover:bg-[length:100%_2px];
    }

    .underline-hover-group {
        @apply bg-gradient-to-r from-theme-color-primary to-theme-color-primary bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-[background-size] duration-300 group-hover:bg-[length:100%_2px];
    }
}
