---
import SiteConfig from "@/site.config";
---

<a
    class="primary-focus group/navlink text-3xl font-cool transition-all duration-150 text-theme-color-primary hover:text-glow-lg hover:text-theme-color-secondary"
    href="/"
    data-astro-prefetch
>
    <span class="inline">{SiteConfig.name}</span>
</a>
