---
import SiteConfig from "@/site.config";
---

<a
    class="primary-focus group/navlink text-3xl font-cool transition-[text-shadow,color] duration-300 text-theme-color-primary hover:text-glow-lg hover:text-theme-color-tertiary"
    href="/"
    data-astro-prefetch
>
    <span class="inline">{SiteConfig.name}</span>
</a>
