---
// components
import SocialIcon from "@components/social/SocialIcon.astro";

// data
import SiteConfig from "@/site.config";

const { className, ...rest } = Astro.props;

const links = SiteConfig.socialLinks;
---

<div class:list={["flex flex-wrap gap-2", className]} {...rest}>
    {
        links.map((social) => (
            <SocialIcon
                href={social.link}
                social={social.platform}
                class="bg-theme-bg-secondary hover:bg-theme-bg-tertiary rounded-full p-2.5 transition-all duration-200 active:scale-95 flex items-center justify-center"
            />
        ))
    }
</div>
