---
// components
import SocialIcon from "@components/social/SocialIcon.astro";

// data
import SiteConfig from "@/site.config";

interface Props {
    variant?: "default" | "hero";
    className?: string;
}

const { variant = "default", className, ...rest } = Astro.props as Props;

const links = SiteConfig.socialLinks;
---

<div class:list={["flex flex-wrap items-center", variant === "hero" ? "gap-4" : "gap-2", className]} {...rest}>
    {
        links.map((social) => (
            variant === "hero" ? (
                <SocialIcon
                    href={social.link}
                    social={social.platform}
                    class="bg-theme-bg-secondary text-theme-fg-secondary hover:text-theme-color-primary hover:text-glow-md hover:bg-theme-color-primary/10 hover:shadow-xl hover:shadow-theme-color-primary/10 rounded-full p-3 transition-all duration-300 active:scale-95 flex items-center justify-center border border-theme-bg-tertiary hover:border-theme-color-primary/20 hover:-translate-y-1"
                    iconClass="size-6"
                />
            ) : (
                <SocialIcon
                    href={social.link}
                    social={social.platform}
                    class="bg-theme-bg-secondary hover:bg-theme-bg-tertiary text-theme-fg-secondary hover:text-theme-color-primary rounded-full p-2.5 transition-all duration-200 active:scale-95 flex items-center justify-center"
                />
            )
        ))
    }
</div>
