---
import { Image } from "astro:assets";
import type { Post, Media } from "@lib/payload/payload-types";

// components
import Tag from "@components/blog/tags/Tag.astro";

//utils
import { getImageSrc } from "@lib/payload/utils";

interface Props {
    post: Post;
    showDescription?: boolean;
    class?: string;
    rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { post, showDescription = false, class: className, ...rest } = Astro.props as Props;

const { title, tag, createdAt, heroImage } = post;
---

<article class=`flex flex-col ${className}` {...rest}>
    <a
        href={`/blog/post/${post.slug}/`}
        class="shrink-0 justify-center overflow-hidden sm:justify-normal"
        data-astro-prefetch
    >
    </a>
    <div class="w-full pt-1">
        <!-- title / tag -->
        <div class="flex justify-between items-center mt-2">
            <Tag tag={tag} size="small" />
        </div>

        <div class="flex flex-wrap items-center justify-center gap-x-5 gap-y-2.5 mt-2"></div>

        <!-- description -->
    </div>
</article>
