---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/core/Button.astro";
import SiteConfig from "@/site.config";
---

<BaseLayout
    title=`404 not found — ${SiteConfig.name}`
    description="Error 404: page not found."
    noindex={true}
>
    <section
        class="container flex flex-col items-center justify-center text-center pt-8"
    >
        <div class="mx-auto max-w-xl px-4 text-center">
            <h1 class="h1"><span class="font-cool text-gradient">404:</span> page not found</h1>
            <p class="description mt-4">
                I'm sorry, that page doesn't seem to exist.
                <br />
                If it should, please let me know!
            </p>
            <div class="mt-8 flex justify-center">
                <Button variant="primary" href="/" arrow="left" prefetch>go back to homepage</Button
                >
            </div>
        </div>
    </section>
</BaseLayout>
