---
import renderNode from "@lib/blog/lexicalUtils";
import Text from "./Text.astro";
import Link from "./Link.astro";
const { children } = Astro.props;
---

<p>
    {
        children.map((child) =>
            child.type === "link" || child.type === "autolink" ? (
                <Link fields={child.fields} children={child.children} />
            ) : child.type === "text" ? (
                <Text content={renderNode(child)} />
            ) : child.type === "inlineBlock" && child.fields.blockType === "coolText" ? (
                <span class="font-cool text-gradient">{child.fields.value}</span>
            ) : child.type === "linebreak" ? (
                <br />
            ) : null,
        )
    }
</p>
