---
interface Props {
    page: number;
    href: string;
    active: boolean;
}

const baseClasses = ["rounded-full px-3 py-1 text-sm hover:bg-theme-bg-tertiary"];

const activeClasses = ["ring-2", "ring-theme-color-primary", "text-theme-fg-primary"];

const { page, href, active } = Astro.props as Props;
---

<a
    href={href}
    class:list={active ? [...baseClasses, ...activeClasses] : baseClasses}
    aria-current={active ? "page" : undefined}
    data-astro-prefetch
>
    {page}
</a>
