---
// component imports
import Head from "@layouts/components/Head.astro";
import Nav from "@components/nav/Nav.astro";
import Footer from "@components/footer/Footer.astro";
import Noise from "@components/core/Noise.astro";

// style import
import "@/styles/main.css";
import "@/styles/fonts.css";
import "@proto-cool/cascade/cascade.css";

// data
import SiteConfig, { type ContentType } from "@/site.config";
import type { Post } from "@lib/payload/payload-types";

interface Props {
    type?: ContentType;
    title: string;
    description?: string;
    post?: Post;
    noindex?: boolean;
}

const {
    type = "base",
    title,
    description = undefined,
    post,
    noindex = false,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" transition:animate="fade" data-theme="obsidian">
    <Head
        type={type}
        title={title}
        post={post ? post : undefined}
        noindex={noindex}
        description={description}
    />
    <body
        class:list={[
            "flex",
            "flex-col",
            "min-h-screen",
            "relative",
            {
                "use-animations": SiteConfig.useAnimations === true,
            },
        ]}
    >
        <Nav />
        <main class="container flex-grow pt-20 lg:pt-24">
            <slot />
        </main>
        <Footer />
        <Noise />

        <script is:inline>
            document.addEventListener("astro:after-swap", function () {
                const element = document.documentElement;
                element.setAttribute("data-theme", window.getTheme());
            });
        </script>
    </body>
</html>
