---
import NavLink from "@components/nav/NavLink.astro";
import Logo from "@components/logo/Logo.astro";
import SiteConfig from "@/site.config";
import ThemeButton from "@components/nav/buttons/ThemeButton.astro";
import NavMobile from "./NavMobile.astro";
import MobileNavButton from "./buttons/MobileNavButton.astro";
---

<style>
    @reference "@/styles/main.css";

    #nav {
        @apply fixed left-0 top-0 z-40 flex w-full backdrop-blur flex flex-col;

        height: var(--nav-total-height);

        --nav-content-height: calc(var(--spacing) * 16);

        @variant md {
            --nav-content-height: calc(var(--spacing) * 20);
        }

        @variant lg {
            --nav-content-height: calc(var(--spacing) * 24);
        }
    }

    #nav[data-nav-state="closed"] {
        --nav-fade-distance: calc(var(--spacing) * 6);
        --nav-mask-height: var(--nav-content-height);
        --nav-total-height: calc(var(--nav-content-height) + var(--nav-fade-distance));
    }

    #nav[data-nav-state="search"] {
        --nav-search-height: 75vh;
        --nav-fade-distance: calc(var(--spacing) * 6);
        --nav-mask-height: var(--nav-search-height);
        --nav-total-height: calc(var(--nav-search-height) + var(--nav-fade-distance));
    }

    #nav[data-nav-state="mobile-open"] {
        --nav-fade-distance: 0;
        --nav-mask-height: 100vh;
        --nav-total-height: 100vh;

        /* solid mask */
        mask-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }

    #nav[data-nav-state="closed"],
    #nav[data-nav-state="search"] {
        /* Mask for gradient effect */
        mask-image: linear-gradient(
            rgba(0, 0, 0, 1) var(--nav-mask-height),
            rgba(0, 0, 0, 1) var(--nav-mask-height),
            rgba(0, 0, 0, 0) 100% /* Taper to transparent */
        );
    }

    #nav::before {
        content: "";
        @apply absolute inset-0 flex w-full h-full z-10 opacity-90;
        /* Background and filter styles */

        background-color: var(--color-bg-primary);
    }

    #nav[data-nav-state="closed"]::before {
        /* Mask for gradient effect */
        mask-image: linear-gradient(
            rgba(0, 0, 0, 1) var(--nav-content-height),
            rgba(0, 0, 0, 0) 100% /* Taper to transparent */
        );
    }

    #nav[data-nav-state="search"]::before {
        /* Mask for gradient effect */
        mask-image: linear-gradient(
            rgba(0, 0, 0, 1) var(--nav-search-height),
            rgba(0, 0, 0, 0) 100% /* Taper to transparent */
        );
    }

    #nav[data-nav-state="mobile-open"]::before {
        mask-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }

    #nav-background {
        @apply absolute inset-0 z-[5] bg-transparent;
        /* Background and filter styles */

        /* Radial gradient background */
        background-image: radial-gradient(var(--color-bg-primary) 1px, transparent 1px);

        /* Background size */
        background-size: 3px 3px;
    }

    #nav-content {
        @apply mx-auto flex container items-center justify-between z-20;

        height: var(--nav-content-height);
    }
</style>

<header>
    <nav id="nav" aria-label="Navigation" data-nav-state="closed" class="group">
        <div id="nav-content">
            <Logo />
            <div class="flex items-center gap-x-4 md:gap-x-8 lg:hidden">
                <ThemeButton />
                <MobileNavButton />
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                {SiteConfig.navLinks.map((link) => <NavLink text={link.text} href={link.href} />)}
                <ThemeButton />
            </div>
        </div>
        <div
            class="container space-y-2 py-6 flex-col gap-4 items-start z-20 group-data-[nav-state='mobile-open']:flex hidden"
        >
            {
                SiteConfig.navLinks.map((link) => (
                    <NavLink text={link.text} href={link.href} type="mobile" />
                ))
            }
        </div>
        <div id="nav-background"></div>
    </nav>
</header>
