---
import type { NavLinkProps } from "@/site.config";

const { type = "normal", text, href, newTab = false } = Astro.props as NavLinkProps;
---

<a
    href={href}
    class:list={[
        type === "mobile" ? "text-xl" : "text-base",
        "text-primary",
        "group/navlink",
        "underline-hover",
        "lowercase",
    ]}
    rel={newTab ? "noopener noreferrer" : undefined}
    data-astro-prefetch
>
    <span>{text}</span>
</a>
